computervision.json
[
    {
        "id": "662f0303.b7dadc",
        "type": "tab",
        "label": "Computer Vision",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bcb86bd.5469e8",
        "type": "inject",
        "z": "662f0303.b7dadc",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 220.515625,
        "y": 110,
        "wires": [
            [
                "23fc84de.5e394c"
            ]
        ]
    },
    {
        "id": "13bd586e.8a6fb8",
        "type": "ui_switch",
        "z": "662f0303.b7dadc",
        "name": "",
        "label": "Toggle Computer Vision",
        "group": "b94790e0.3bebd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 172.515625,
        "y": 264,
        "wires": [
            [
                "6d3f8ecf.73955"
            ]
        ]
    },
    {
        "id": "23fc84de.5e394c",
        "type": "mjpg-consumer",
        "z": "662f0303.b7dadc",
        "name": "",
        "stream": "http://192.168.0.105:8080/?action=stream",
        "x": 561.015625,
        "y": 115,
        "wires": [
            [
                "74ca4699.55b158",
                "8ec9d182.8b54e"
            ]
        ]
    },
    {
        "id": "6d3f8ecf.73955",
        "type": "function",
        "z": "662f0303.b7dadc",
        "name": "Toggle Computer Vision",
        "func": "if (msg.payload === true)\n    msg.payload = \"start\";\nelse\n    msg.payload = \"stop\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 457.265625,
        "y": 286,
        "wires": [
            [
                "23fc84de.5e394c"
            ]
        ]
    },
    {
        "id": "8ec9d182.8b54e",
        "type": "function",
        "z": "662f0303.b7dadc",
        "name": "MakeImageFileName",
        "func": "// initialise the counter to 0 if it doesn't exist already\nvar count = flow.get('count')||0;\ncount += 1;\n// store the value back\nflow.set('count',count);\n// make it part of the outgoing msg object\n//msg.filename=\"./capture/Capture\"+count+\".jpg\";\nmsg.filename=\"./capture/Capture.jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 703.0233001708984,
        "y": 211.13118743896484,
        "wires": [
            [
                "b1f5a26c.3b5b9"
            ]
        ]
    },
    {
        "id": "74ca4699.55b158",
        "type": "Computer Vision",
        "z": "662f0303.b7dadc",
        "operation": "description",
        "name": "",
        "x": 776.015625,
        "y": 113,
        "wires": [
            [
                "9b2a4466.824c88"
            ]
        ]
    },
    {
        "id": "9b2a4466.824c88",
        "type": "ui_text",
        "z": "662f0303.b7dadc",
        "group": "b94790e0.3bebd",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Description",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1013.515625,
        "y": 146,
        "wires": []
    },
    {
        "id": "b1f5a26c.3b5b9",
        "type": "file",
        "z": "662f0303.b7dadc",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "x": 870.5218276977539,
        "y": 278.6712875366211,
        "wires": []
    },
    {
        "id": "b94790e0.3bebd",
        "type": "ui_group",
        "z": "",
        "name": "Camera Controls",
        "tab": "c1b73914.51d068",
        "disp": true,
        "width": "6"
    },
    {
        "id": "c1b73914.51d068",
        "type": "ui_tab",
        "z": "",
        "name": "Vision",
        "icon": "dashboard"
    }
]
