mjpgcamera.json
[
    {
        "id": "fb40c287.245b3",
        "type": "tab",
        "label": "Camera",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8a54a3a.73d338",
        "type": "inject",
        "z": "fb40c287.245b3",
        "name": "Inject Stream Uri",
        "topic": "",
        "payload": "http://192.168.0.105:8080/?action=stream",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 252.765625,
        "y": 166.75,
        "wires": [
            [
                "a13c41f8.334c4",
                "9ec2b4fd.53f698"
            ]
        ]
    },
    {
        "id": "9ec2b4fd.53f698",
        "type": "function",
        "z": "fb40c287.245b3",
        "name": "Refresh Page",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 692.7656326293945,
        "y": 123.75000858306885,
        "wires": [
            [
                "fe58d3e6.fc204"
            ]
        ]
    },
    {
        "id": "a13c41f8.334c4",
        "type": "ui_template",
        "z": "fb40c287.245b3",
        "group": "b94790e0.3bebd",
        "name": "Camera Stream",
        "order": 0,
        "width": "6",
        "height": "6",
        "format": "<input ng-value=\"msg.payload\" disabled/>\n\n<img ng-src=\"{{msg.payload}}\" width=\"320\" height=\"240\" alt=\"image\" />",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 683.7656326293945,
        "y": 191.75002479553223,
        "wires": [
            []
        ]
    },
    {
        "id": "fe58d3e6.fc204",
        "type": "ui_ui_control",
        "z": "fb40c287.245b3",
        "name": "ui control",
        "x": 875.2655792236328,
        "y": 121.75002193450928,
        "wires": [
            []
        ]
    },
    {
        "id": "b94790e0.3bebd",
        "type": "ui_group",
        "z": "",
        "name": "Camera Controls",
        "tab": "c1b73914.51d068",
        "disp": true,
        "width": "6"
    },
    {
        "id": "c1b73914.51d068",
        "type": "ui_tab",
        "z": "",
        "name": "Vision",
        "icon": "dashboard"
    }
]
