mqttCamera.json
[
    {
        "id": "d6f1f8b5.a5d068",
        "type": "tab",
        "label": "MqttCamera",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7c22ed3d.e999d4",
        "type": "ui_switch",
        "z": "d6f1f8b5.a5d068",
        "name": "",
        "label": "Toggle Mqtt Camera",
        "group": "b94790e0.3bebd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 294.765625,
        "y": 214,
        "wires": [
            [
                "387db4b4.88487c"
            ]
        ]
    },
    {
        "id": "387db4b4.88487c",
        "type": "function",
        "z": "d6f1f8b5.a5d068",
        "name": "Toggle Computer Vision",
        "func": "if (msg.payload === true)\n    msg.payload = \"start\";\nelse\n    msg.payload = \"stop\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 589.515625,
        "y": 236,
        "wires": [
            [
                "bd7e6ff1.69196"
            ]
        ]
    },
    {
        "id": "f6204070.83548",
        "type": "function",
        "z": "d6f1f8b5.a5d068",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 665.26171875,
        "y": 358.12890625,
        "wires": [
            [
                "9be9b428.595da8",
                "52b74967.a9fcb8"
            ]
        ]
    },
    {
        "id": "9be9b428.595da8",
        "type": "mqtt out",
        "z": "d6f1f8b5.a5d068",
        "name": "",
        "topic": "home/living/camera",
        "qos": "",
        "retain": "",
        "broker": "5fd7c842.be5558",
        "x": 894.265625,
        "y": 359.125,
        "wires": []
    },
    {
        "id": "52b74967.a9fcb8",
        "type": "debug",
        "z": "d6f1f8b5.a5d068",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 837.25390625,
        "y": 448.67578125,
        "wires": []
    },
    {
        "id": "bd7e6ff1.69196",
        "type": "mjpg-consumer",
        "z": "d6f1f8b5.a5d068",
        "name": "",
        "stream": "http://192.168.0.105:8080/?action=stream",
        "x": 693.265625,
        "y": 65,
        "wires": [
            [
                "f6204070.83548"
            ]
        ]
    },
    {
        "id": "afba2657.2caf58",
        "type": "inject",
        "z": "d6f1f8b5.a5d068",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 284.765625,
        "y": 104.75,
        "wires": [
            [
                "bd7e6ff1.69196"
            ]
        ]
    },
    {
        "id": "b94790e0.3bebd",
        "type": "ui_group",
        "z": "",
        "name": "Camera Controls",
        "tab": "c1b73914.51d068",
        "disp": true,
        "width": "12"
    },
    {
        "id": "5fd7c842.be5558",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.0.100",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "c1b73914.51d068",
        "type": "ui_tab",
        "z": "",
        "name": "Vision",
        "icon": "dashboard"
    }
]
