flows/computerVision_Simple.json
[{"id":"8b91f709.841cd8","type":"Computer Vision","z":"c151da0c.0e82b8","operation":"description","name":"","x":518,"y":127,"wires":[["a60d8b9e.c61858","22632149.8aa80e"]]},{"id":"fc988da3.77c25","type":"mjpg-consumer","z":"c151da0c.0e82b8","name":"","stream":"http://172.24.10.88:8080/?action=stream","interval":"3","x":319.9999694824219,"y":186,"wires":[["22632149.8aa80e","8b91f709.841cd8"]]},{"id":"a60d8b9e.c61858","type":"ui_text","z":"c151da0c.0e82b8","group":"cf6857c.896d8a8","order":0,"width":0,"height":0,"name":"","label":"Azure CV Description ","format":"{{msg.payload}}","layout":"row-spread","x":787.5,"y":126,"wires":[]},{"id":"4b3c9f41.ce4b5","type":"inject","z":"c151da0c.0e82b8","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":127.4999771118164,"y":158,"wires":[["fc988da3.77c25"]]},{"id":"bec2b5b.fa06b48","type":"inject","z":"c151da0c.0e82b8","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":129.4999771118164,"y":216.99999904632568,"wires":[["fc988da3.77c25"]]},{"id":"22632149.8aa80e","type":"debug","z":"c151da0c.0e82b8","name":"","active":true,"console":"false","complete":"false","x":757.5,"y":197,"wires":[]},{"id":"c28cd00.49d5d3","type":"ui_template","z":"c151da0c.0e82b8","group":"cf6857c.896d8a8","name":"Camera Stream","order":0,"width":"6","height":"6","format":"<input ng-value=\"msg.payload\" disabled/>\n\n<img ng-src=\"{{msg.payload}}\" width=\"320\" height=\"240\" alt=\"image\" />","storeOutMessages":true,"fwdInMessages":true,"x":531,"y":26,"wires":[[]]},{"id":"345b4e21.063c32","type":"inject","z":"c151da0c.0e82b8","name":"Inject Stream Uri","topic":"","payload":"http://172.24.10.88:8080/?action=stream","payloadType":"str","repeat":"","crontab":"","once":true,"x":172,"y":30,"wires":[["c28cd00.49d5d3"]]},{"id":"cf6857c.896d8a8","type":"ui_group","z":"","name":"Camera Controls","tab":"b662ce6e.4d1ba","disp":true,"width":"6"},{"id":"b662ce6e.4d1ba","type":"ui_tab","z":"","name":"Raspibot","icon":"dashboard"}]
