flows/displayStream_ToggleCamera.json
[{"id":"df5e257b.4814f8","type":"exec","z":"8910fccd.55222","command":"mjpg_streamer","addpay":false,"append":"-i \"input_uvc.so\"","useSpawn":"true","timer":"","oldrc":false,"name":"Start mjpg_streamer","x":570.5,"y":81.5,"wires":[["e3b22257.64335"],["e3b22257.64335"],["e3b22257.64335"]]},{"id":"2b1dcdb3.a8d162","type":"exec","z":"8910fccd.55222","command":"pkill mjpg_streamer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill mjpg_streamer","x":560,"y":172,"wires":[["e3b22257.64335"],[],[]]},{"id":"83e5e7d2.d442a8","type":"ui_switch","z":"8910fccd.55222","name":"Toggle Camera","label":"Toggle Camera","group":"d10bc04d.5d5f6","order":0,"width":"6","height":"6","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":136.5,"y":126,"wires":[["bf8c2d.e5ce43d"]]},{"id":"bf8c2d.e5ce43d","type":"function","z":"8910fccd.55222","name":"Select command","func":"if (msg.payload === true) {\n    msg = [msg, null]\n}\nelse {\n    msg.kill = \"SIGINT\" \n    msg = [null,{ msg }]\n}\nreturn msg;","outputs":"2","noerr":0,"x":338.5,"y":123,"wires":[["df5e257b.4814f8"],["2b1dcdb3.a8d162"]]},{"id":"ad92574f.c5b3f8","type":"ui_template","z":"8910fccd.55222","group":"d10bc04d.5d5f6","name":"Display Stream","order":0,"width":"7","height":"7","format":"<input ng-value=\"msg.payload\" disabled/>\n\n<img ng-src=\"{{msg.payload}}\" width=\"640\" height=\"480\" alt=\"image\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":380.5,"y":304,"wires":[[]]},{"id":"dc5ffd70.c6aac","type":"inject","z":"8910fccd.55222","name":"Inject Stream","topic":"","payload":"http://192.168.0.104:8080/?action=stream","payloadType":"str","repeat":"","crontab":"","once":true,"x":154.5,"y":304,"wires":[["ad92574f.c5b3f8"]]},{"id":"9db65a30.6a8678","type":"ui_ui_control","z":"8910fccd.55222","name":"","x":963,"y":68,"wires":[[]]},{"id":"e3b22257.64335","type":"function","z":"8910fccd.55222","name":"Refresh Tab","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":790.5,"y":71,"wires":[["9db65a30.6a8678"]]},{"id":"d10bc04d.5d5f6","type":"ui_group","z":"","name":"Camera Controls","tab":"fe78a373.1d06f","disp":true,"width":"12"},{"id":"fe78a373.1d06f","type":"ui_tab","z":"","name":"Camera","icon":"dashboard"}]
