flows/mjpgConsumer_Simple.json
[{"id":"7291a61f.91bf68","type":"mjpg-consumer","z":"2e3e54bc.875afc","name":"MjpgConsumer","stream":"http://172.24.10.88:8080/?action=stream","interval":"2","x":518.5,"y":192,"wires":[["af2856f3.d6c548","a6e86cd6.c6db5"]]},{"id":"f66da841.a14748","type":"inject","z":"2e3e54bc.875afc","name":"Start Consumer","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":219.5,"y":161,"wires":[["7291a61f.91bf68"]]},{"id":"fe465772.fe1808","type":"inject","z":"2e3e54bc.875afc","name":"Stop Consumer","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.5,"y":228,"wires":[["7291a61f.91bf68"]]},{"id":"af2856f3.d6c548","type":"debug","z":"2e3e54bc.875afc","name":"","active":true,"console":"false","complete":"false","x":757.5,"y":191,"wires":[]},{"id":"a6e86cd6.c6db5","type":"file","z":"2e3e54bc.875afc","name":"Camera Capture","filename":"C:\\data\\capture.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":768.5,"y":257,"wires":[]},{"id":"43ba25c1.94232c","type":"ui_template","z":"2e3e54bc.875afc","group":"9ef074da.798ea8","name":"Camera Stream Display","order":0,"width":"7","height":"7","format":"<input ng-value=\"msg.payload\" disabled/>\n<img ng-src=\"{{msg.payload}}\" width=\"640\" height=\"480\" alt=\"image\" />\n","storeOutMessages":true,"fwdInMessages":true,"x":414.5,"y":393,"wires":[[]]},{"id":"50d89eff.8a89d","type":"inject","z":"2e3e54bc.875afc","name":"","topic":"","payload":"http://172.24.10.88:8080/?action=stream","payloadType":"str","repeat":"","crontab":"","once":true,"x":152.5,"y":394,"wires":[["43ba25c1.94232c"]]},{"id":"9ef074da.798ea8","type":"ui_group","z":"","name":"Camera Controls","tab":"5e4e3b91.d81134","disp":true,"width":"12"},{"id":"5e4e3b91.d81134","type":"ui_tab","z":"","name":"Smart Camera","icon":"dashboard"}]
