flows/SmartCamera.json
[{"id":"6ffd418.131eac","type":"tab","label":"Camera","disabled":false,"info":""},{"id":"87bc5ce6.3b52a","type":"exec","z":"6ffd418.131eac","command":"mjpg_streamer","addpay":false,"append":" -i \"input_raspicam.so -x 640 -y 480 -fps 30\"","useSpawn":"","timer":"","oldrc":false,"name":"start mjpg_streamer","x":614,"y":70,"wires":[["5b7468d9.527628"],["5b7468d9.527628"],["5b7468d9.527628"]]},{"id":"4af1a971.6703b8","type":"exec","z":"6ffd418.131eac","command":"pkill","addpay":false,"append":"mjpg_streamer","useSpawn":"","timer":"","name":"Stop mjpg_streamer","x":612.4971923828125,"y":137.66758728027344,"wires":[["5b7468d9.527628"],[],[]]},{"id":"78cfed65.802494","type":"function","z":"6ffd418.131eac","name":"Dispatch switch output","func":"//if switch is on, activate output1\nif (msg.payload === true) {\n    msg = [msg, null]\n}\n//if switch is on, activate output2\nelse {\n    msg = [null, msg]\n}\nreturn msg;","outputs":"2","noerr":0,"x":338.0000305175781,"y":115.5908432006836,"wires":[["87bc5ce6.3b52a"],["4af1a971.6703b8"]]},{"id":"570dadd0.64f3f4","type":"ui_switch","z":"6ffd418.131eac","name":"Toggle Camera","label":"Toggle Camera","group":"96a2a28.a8ac36","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":155.00284576416016,"y":20,"wires":[["78cfed65.802494","5b7468d9.527628"]]},{"id":"b3407d0.761438","type":"ui_template","z":"6ffd418.131eac","group":"96a2a28.a8ac36","name":"Camera Stream Display","order":0,"width":"7","height":"7","format":"<input ng-value=\"msg.payload\" disabled/>\n<img ng-src=\"{{msg.payload}}\" width=\"640\" height=\"480\" alt=\"image\" />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":439,"y":279,"wires":[[]]},{"id":"f5a83fc6.f142c","type":"inject","z":"6ffd418.131eac","name":"Inject Stream Uri","topic":"","payload":"http://172.24.10.88:8080/?action=stream","payloadType":"str","repeat":"","crontab":"","once":true,"x":162.00000762939453,"y":280.0000247955322,"wires":[["b3407d0.761438"]]},{"id":"e9d80cc7.fc67d","type":"ui_ui_control","z":"6ffd418.131eac","name":"","x":1145,"y":20,"wires":[[]]},{"id":"5b7468d9.527628","type":"function","z":"6ffd418.131eac","name":"Refresh Current Tab","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":930.5,"y":20,"wires":[["e9d80cc7.fc67d"]]},{"id":"b3699e08.5fa8a","type":"mjpg-consumer","z":"6ffd418.131eac","name":"","stream":"http://172.24.10.88:8080/?action=stream","interval":"5","x":470.5,"y":406,"wires":[["c89c15f7.09da58"]]},{"id":"3780c45.1d3d63c","type":"ui_switch","z":"6ffd418.131eac","name":"Toggle mjpg-consumer","label":"Toggle mjpg-consumer","group":"96a2a28.a8ac36","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"start","onvalueType":"str","onicon":"","oncolor":"","offvalue":"stop","offvalueType":"str","officon":"","offcolor":"","x":133.5,"y":407,"wires":[["b3699e08.5fa8a"]]},{"id":"c89c15f7.09da58","type":"Computer Vision","z":"6ffd418.131eac","operation":"description","name":"","x":712.5,"y":405,"wires":[["f143062f.11ab18"]]},{"id":"f143062f.11ab18","type":"ui_text","z":"6ffd418.131eac","group":"96a2a28.a8ac36","order":0,"width":0,"height":0,"name":"Computer Vision description","label":"Computer Vision description","format":"{{msg.payload}}","layout":"col-center","x":1020.5,"y":401,"wires":[]},{"id":"96a2a28.a8ac36","type":"ui_group","z":"","name":"Camera Controls","tab":"c2441f8c.8360d","disp":true,"width":"8"},{"id":"c2441f8c.8360d","type":"ui_tab","z":"","name":"Camera","icon":"dashboard"}]
